<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/post.css">
</head>
<body>
    <div class="error">
        <h1>You will have the wrong link-id</h1>
        <a href="/post/1">Please, come back</a>
    </div>
</body>
</html>