<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/static/css/login.css">
</head>
<body>
    <form action="POST" id="form">
        <input id="email" type="email" placeholder="email">
        <input id="password" type="password" placeholder="password">
        <button type="submit" id="submitButton">submit</button> <!-- пытаюсь не казать питонистом день 1 -->
    </form>
</body>
</html>