<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/posts.css">
    <script defer src="static/js/posts.js"></script>
</head>
<body>
    <% post.forEach((post) => { %>
        <div class="post">
            <h2><%= post.name %></h2>
            <p><%= post.author%></p>
        </div>
    <% }) %>
    <button id='button' type="button">create post aboba</button>
</body>
</html>