a {
    width: 25px;
    height: 25px;
    text-align: center;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
}

dialog {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}